In [ ]:
# Setup DB Browser for SQL Lite
# Create a Database
# Open the database
# Create a table or tables
# Insert Data using INSERt statement
# Query the Data using SELECT statement
# View Data in SQL Lite

In [5]:
import sqlite3

In [18]:
conn = sqlite3.connect('tutorial.db')

In [7]:
c = conn.cursor()

In [8]:
c.execute('''CREATE TABLE students(firstname text, lastname text)''')

In [9]:
c.execute('''CREATE TABLE teachers(firstname text, lastname text)''')

In [12]:
c.execute("INSERT INTO students VALUES('Kindson', 'Munonye')")

In [13]:
c.execute("INSERT INTO students VALUES('Nick', 'Horvarth')")

In [15]:
conn.commit()

In [16]:
conn.close()

In [19]:
c = conn.cursor()

In [22]:
c.execute("SELECT * FROM students WHERE firstname='Kindson'")
for row in c:
    print(row)

('Kindson', 'Munonye')

In [ ]:
#SQlAlchemy